.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: left;
}

.card {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .card {
        flex-direction: row;
    }
}

.avatar {
    max-height: min(60vw, 10rem);
    max-width: min(60vw, 10rem);
    aspect-ratio: 1;
    border-radius: 50%;
    align-self: center;
    border: #001e2e solid 3px;
}

.item {
    margin: 0 1rem;
    text-align: center;
}

.name {
    white-space: nowrap;
}

.category {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-self: center;
}

.contactInformation {
    gap: 1rem;
}
