/*
Das schöne an CSS modules ist, dass du keine prefixes brauchst ;)
Also einfach `.container` statt `.aboutMeContainer`, etc. Das ist dann trotzdem
eindeutig und du kannst den class name `.container` in einer anderen nochmal
verwenden
*/
.aboutMeContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: left;
}

.aboutMeCard {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

@media (max-width: 768px) {
    .aboutMeCard {
        flex-direction: row;
    }
}

.avatar {
    max-height: min(60vw, 10rem);
    max-width: min(60vw, 10rem);
    aspect-ratio: 1;
    border-radius: 50%;
    align-self: center;
    border: #001e2e solid 3px;
}

.aboutMeItem {
    margin: 0 1rem;
    text-align: center;
}

.name {
    white-space: nowrap;
}

.aboutMeCategory {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-self: center;
}

.contactInformation {
    gap: 1rem;
}
