.experienceListItems {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--primary-color);
}

.subtitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description {
    margin: 1rem 0;
}

.description ul {
    margin-left: 1rem;
}
