:root {
    --primary-color: #4263eb;
    --secondary-color: #4c6ef5;
    --text-color-on-dark: #f1f3f5;
    --text-color-on-light: #868e96;
    --text-color-on-header-background: #f8f9fa;
    --link-color: #495057;
}
