.skillBarContent {
    display: flex;
    height: 1rem;
    background: #00658f;
    border-radius: 1rem;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    width: 10rem;
    border: 1px solid #001e2e;
}

.skillsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.skillsContainerItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
