@import '../../styles/typography.css';
@import '../../styles/colors.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 56rem;
    margin: auto;
    padding: 2rem;
    background: #343a40;
}

.content {
    box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.5);
    border-radius: 0.8rem;
    overflow: hidden;
}

@media (max-width: 40rem) {
    body {
        padding: 0;
    }
    .content {
        border-radius: 0;
        box-shadow: none;
    }
}

a:link,
a:visited {
    text-decoration: none;
    text-shadow: 0 0 0.1rem rgb(0, 0, 0, 0.5);
}
