.contactItem {
    display: flex;
    gap: 0.5rem;
    margin: 0.3rem 0;
}

.contactItemIcon {
    display: flex;
    color: var(--text-color-on-header-background);
    filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0, 0.5));
    transition-duration: 0.3s;
}

.contactItemIcon:hover {
    transform: translateY(-0.3rem);
}

.contactItemRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}
